[submodule "libwebp"]
	path = libwebp
	url = https://github.com/webmproject/libwebp
[submodule "libsass"]
	path = libsass
	url = https://github.com/sass/libsass
[submodule "NUglify"]
	path = NUglify
	url = https://github.com/trullock/NUglify
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "libpng"]
	path = libpng
	url = https://github.com/glennrp/libpng
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "libssh2"]
	path = libssh2
	url = https://github.com/libssh2/libssh2
[submodule "FFMpegCore"]
	path = FFMpegCore
	url = https://github.com/rosenbjerg/FFMpegCore
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl
