[submodule "BinaryStarLib"]
	path = BinaryStarLib
	url = https://github.com/Star-Athenaeum/BinaryStarLib
[submodule "libavif"]
	path = libavif
	url = https://github.com/AOMediaCodec/libavif
[submodule "libwebp"]
	path = libwebp
	url = https://github.com/webmproject/libwebp/
[submodule "libsass"]
	path = libsass
	url = https://github.com/sass/libsass
[submodule "NUglify"]
	path = NUglify
	url = https://github.com/trullock/NUglify
